@titleFont: 'League Gothic';
@marginLeft: 4em;
@leftWidth: 24em;
@rightWidth: 15em;
@paddingBetweenLeftRight: 2em;

body {
  font-family: 'fjordone';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  min-width: @marginLeft + @leftWidth + @paddingBetweenLeftRight + @rightWidth + 12em;
}

body, html, h1, h2, h3, p {
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

a {
  &:visited {}
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.left {
  margin-left: @marginLeft;
  display: inline-block;
  float: left;
  width: @leftWidth;
}

.right {
  display: inline-block;
  width: 50%;
  min-width: @rightWidth;
}

.clearfix {
  width: 100%;
  height: 0;
  clear: both;
}

header {

  #title {
    color: white;
    font-family: @titleFont;
    background-color: black;

    .name {
      padding: 2.2em 2em 0.5em 0;
      span {font-size: 2.5em;}
    }

    .date {
      background-color: #4c4c4c;
      text-transform: uppercase;
      padding: 0.5em 2em 0.5em 0;
      span{font-size: 1.8em;}
    }

    .name, .date {
      padding-left: 2em;
    }

  }

  nav {

    ul {
      margin-left: @paddingBetweenLeftRight;
      padding: 3.6em 0;

      li {
        display: inline;
        font-family: @titleFont;
        font-size: 2em;
        text-transform: uppercase;
        margin-left: 1em;
        &:first-child {margin-left: 0.2em;}

        a {
          color: black;
          &:visited {
            color: black;
          }
          &.active {
            color: #ff7bac;
          }
        }
        .bullet {
          color: black;
          font-size: 35%;
          position: relative;
          bottom: 0.8em;
          right: 0.5em;
        }
      }
    }
  }
}

.page {
  display: none;
}


#about {
  @marginTop: 3em;

  h2, h3 {
    font-size: 1.5em;
    font-family: @titleFont;
    text-transform: uppercase;
    margin-bottom: 0.4em;
  }

  .infos {
    margin-top: @marginTop;

    .location {
      float: left;
      width: 50%;
      a {
        color: black;
        &:visited { color: black; }
      }
    }
    
    .openingHours {
      float: right;
      width: 50%;
    }
  }

  .sponsors {
    margin-top: 2em;
    img {
      height: 3em;
      padding: 1em 2em 1em 0;
    }
  }

  .text {
    max-width: 80%;
    margin-top: @marginTop;
    margin-left: @paddingBetweenLeftRight;
    padding-bottom: 3em;

    p {
      margin-bottom: 1em;
      &.emphasis {
        font-weight: bold;
      }
    }

    ul {
      margin-left: 2em;
    }

    h3 {
      margin-top: 2em;
    }

    img {
      width: 100%;
    }
  }

}

#comingSoon {
  font-family: @titleFont;
  font-size: 3em;
  text-align: center;
  margin-top: 3em;
}