<!doctype html>
<html>
<head>
  <script src="/js/passiomusicae.js"></script>
  <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
  <link rel="shortcut icon" type="image/png" href="http://pmos.fi/images/favicon.ico"/>

  <link href="/css/style.css" type="text/css" rel="stylesheet" />
  <link href="/css/fonts/leaguegothic/stylesheet.css" type="text/css" rel="stylesheet" />
  <link href="/css/fonts/fjord/stylesheet.css" type="text/css" rel="stylesheet" />
  <title>Passio Musicae Open Source</title>
  <base href="/pages/" >
</head>

<body>

  <header>
    <div id="title" class="left">
      <h1 class="name"><span>Passio Musicae Open Source</span></h1>
      <div class="date"><span>Ateneum, Helsinki | Jan 22 - March 22</span></div>
    </div>

    <nav class="right">
      <ul>
        <li><a href="./about"><span class="bullet">&#9679;</span>About The Project</a></li>
        <li><a href="./live"><span class="bullet">&#9679;</span>Live Mode</a></li>
        <li><a href="./archive"><span class="bullet">&#9679;</span>Archive</a></li>
        <li><a href="./demo"><span class="bullet">&#9679;</span>Demo Mode</a></li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </header>


  <div id="about" class="page">

    <div class="left">

      <div class="infos">
        <div class="location">
          <h2>Location</h2>
          <p>Ateneum</p>
          <p>Kaivokatu 2</p>
          <p>Helsinki, Finland</p>
          <p><a href="http://ateneum.fi">ateneum.fi</a></p>
        </div>

        <div class="openingHours">
          <h2>Opening hours</h2>
          <p>MON: Closed</p>
          <p>TUE, FRI: 10-18</p>
          <p>WED, THU: 10-20</p>
          <p>SAT, SUN: 10-17</p>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="sponsors">
        <a href="http://ateneum.fi/"><img src="/images/ateneum.png" /></a>
        <a href="http://www.goethe.de/ins/fi/fi/hel.html"><img src="/images/goethe.png" /></a>
        <a href="http://taike.fi/"><img src="/images/artscouncil.png" /></a>
        <a href="http://aalto.fi/"><img src="/images/aalto.png" /></a>
        <a href="http://www.uniarts.fi/kuva"><img src="/images/kuva.png" /></a>
        <a href="http://www.uniarts.fi/siba"><img src="/images/siba.png" /></a>
        <a href="http://www.auswaertiges-amt.de/DE/Startseite_node.html"><img src="/images/deutschland.png" /></a>
      </div>

    </div>

    <div class="right">
      <div class="text">
        <p class="emphasis">
        Passio Musicae Open Source is an interactive audio installation and sonification of the Sibelius Monument. Visitors can explore the sounds by moving around in the space. The sounds are constructed from the actual physical dimensions of the 569 steel tubes of the original monument.
        </p>

        <p class="emphasis">
        In the online live version, you see the real-time movement of the visitors in the space. In the demo version the sounds are heard by moving your cursor over the map.
        </p>
        
        <p>
        Sibelius Monument was created by sculptor Eila Hiltunen in 1967. Located at Sibelius Park in Töölö, it is one of the most visited sights in Helsinki. On 22 January 2015, the National Art Gallery of Finland, Ateneum Art Museum revealed Passio Musicae Open Source, an interactive audio installation, a sonified reinterpretation of the Sibelius Monument.
        </p>
        
        <p>
        The project has culminated in a unique collaboration between the top Finnish art universities and German sculptor Lukas Kühne. Holding workshops with students from the University of the Art’s Academy of Fine Arts and Sibelius Academy and Aalto University’s Media Lab Helsinki, they created the final work exhibited in Ateneum. Additionally, the code is available online embracing the open source spirit throughout the creation of the installation. GitHub
        link for the project data.
        </p>
        
        <p>
        Passio Musicae Open Source has been made possible with the financial support from the Arts Promotion Centre Finland, the German Foreign Ministry, and is co-initiated and produced with Goethe-Institut Finnland.
        </p>
        
        <p>
        The accompanying video installation that is viewable on the site depicts the case of the Hommage à Sibelius, a version of the monument which was on display at Expo 67 in Montréal and later disappeared. A group of artists set out to explore the real and virtual possibilities of what happened, mirroring anecdotal footage and collected knowledge in the form of a montage.
        </p>

        <h3>Passio Musicae Open Source (installation)</h3>
        <p>
          <b>Credits: </b> Lukas Kühne, Matti Niinimäki, Jairo Acosta Lara, Ava Grayson, Karina Jensen, Narim Lee, Sébastien Piquemal, Taavi Varm, Pirkka Åman.
          <img src="/images/pmos_installation.png" />
        </p>

        <h3>Tracing a monument (video)</h3>
        <p>
          <b>Credits: </b> Emma Jääskeläinen, Akuliina Niemi, Jani Purhonen.
          <img src="/images/pmos_video.png" />
        </p>
      </div>

    </div>

  </div>

  <div id="live" class="page">
  </div>

  <div id="archive" class="page">
  </div>

  <div id="demo" class="page">
  </div>

  <div id="comingSoon" class="page">
    <div>Opening on the 22nd of January</div> 
  </div>

  <div id="notFound" class="page">
    NOT FOUND
  </div>

  <div class="page">
    <form id="perform">
      <input name="fromTime" type="text" value="2014-11-04T22:02:49.539Z" />
      <input name="toTime" type="text" value="2014-11-04T22:03:02.539Z"/>
      <input type="submit" value="perform"/>
    </form>
    <div id="performanceClock"></div>
    <div id="tubesContainer">
      <svg id="tubes" width="500"></svg>
    </div>
  </div>

</body>

</html>
